      /*#site {
        position: absolute;
        z-index: 1;
        top : 1000px;
        left : 10px;
        color: #330099;
        background-color: #ddd;
        padding: 5px;
        border: 1px solid gray;
      }*/

      body {
        margin: 0;
        padding: 0;
        background: white;
        font: times, 80% verdana, arial, sans-serif;
      }

      #menu {
        position: absolute;  /*{absolute, relative, fixed} Menu position that can be changed at will*/
        /*top: 121;*/
        left: 0;
        z-index: 150;
        width: 100%; /* precision for Opera */
      }

      dl, dt, dd, ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      #menu dl {
        color: #330099;
        float: left;
        text-align: left;
        width: 10em;
      }

      #menu dt {
        width: 43em;
        cursor: pointer;
        font-weight: bold;
        background: #FF9900;
        border: 0px solid;
        margin: 1px;
      }

      #menu dd {
        display: none;
        border: 1px solid #3300CC;
      }

      #menu li {
        font-weight: bold;
        text-align: left;
        background: #FF9900;
        border: 1px #3300CC;
      }

      #menu li a, #menu dt a {
        color: #330099;
        text-decoration: none;
        display: block;
        height: 100%;
        border: 0 none;
      }

      #menu li a:hover, #menu li a:focus, #menu dt a:hover, #menu dt a:focus {
        background: #FFFF00;
      }

      /*msgRegister{
        position: absolute; top : 150px; left : 150px; border-style: solid; border-width: 1px;
        border-color: #3300CC; text-align: left; background-color: #CCFFFF;
        padding: 1.5cm; width: 50%; font-weight: bold;
      }

      msgSuccess{
        border-style: solid; border-width: 1px; border-color: #3300CC; text-align: left;
        background-color: #CCFFFF; width: 50%;  font-weight: bold; margin-left: 0
      }

      msgFail{
        border-style: solid; border-width: 1px; border-color: #3300CC; text-align: left;
        background-color: #CCCC00; width: 50%; font-weight: bold; margin-left: 0
      }*/

      even{
        border-style: solid; border-width: 1px; border-color: #3300CC; text-align: left;
        background-color: #CC9933; font-weight: bold;
      }

      odd{
        border-style: solid; border-width: 1px; border-color: #3300CC; text-align: left;
        background-color: #626642; font-weight: bold;
      }

